{% extends 'catalog/base.html' %}

{% block content %}
{% load my_tags %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">StoreProduct</h1>
    <p class="lead">StoreProduct - это отличный магазин продуктов</p>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-5">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-3 font-weight-normal">{{product}} </h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled ">
                        <img src="{% mediapath product.image %}" style="width: 100%;"/>
                        <li> {{product.description}} </li>
                        <li> ____________________________ </li>
                        <li> {{product.price}} рублей за кг </li>
                        <li> ____________________________ </li>
                        <li> Информация актуальна на {{product.last_modified_date|default:'сегодняшний день'}}</li>
                        <li> Версия:</li>
                        {% for v in version %}
                            {{v.number_version}}
                            </li>
                        {% endfor%}
                        <li> Автор: {{object.user|default:'Не указан'}}</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}